# Workspace
.vs
*.cache
*.bin
*.user
*.csproj.user
*.snk
shelf
httpRequests
workspace.xml

# Build
Build
packages
data/unlocker/unlocker.config.json
data/sounds/*.mp3
Screenshots/*.png
Screenshots/*.jpg
Screenshots/*.jpeg
Screenshots/*.bmp

# InnoSetup
InnoSetup/*.exe
InnoSetup/Output

# Solutions
## Configuration Window
Stella.Configuration/bin
Stella.Configuration/obj

## Prepare Stella Mod
Stella.Prepare/bin
Stella.Prepare/obj

## Info Before Start
Stella.InfoBeforeStart/bin
Stella.InfoBeforeStart/obj

## Device Identifier
Stella.DeviceIdentifier

## Stella Utils
Stella.Utils

## Stella Startup Beacon
Stella.StartupBeacon

## Genshin test file
Test.Genshin

## Build project
Stella.Build