[submodule "Stella-Mod-Launcher"]
	path = Stella.Launcher
	url = https://github.com/sefinek/Stella-Mod-Launcher.git

[submodule "Genshin-Stella-Mod"]
	path = Stella.Worker
	url = https://github.com/sefinek/Genshin-Stella-Mod.git

[submodule "Stella-Mod-Prepare"]
    path = Stella.Prepare
    url = https://github.com/sefinek/Stella-Mod-Prepare.git

[submodule "Stella-Mod-StartupBeacon"]
	path = Stella.StartupBeacon
	url = https://github.com/sefinek/Stella-Mod-StartupBeacon.git

[submodule "Stella-Mod-Utils"]
	path = Stella.Utils
	url = https://github.com/sefinek/Stella-Mod-Utils.git

[submodule "Stella-Mod-DeviceIdentifier"]
	path = Stella.DeviceIdentifier
	url = https://github.com/sefinek/Stella-Mod-DeviceIdentifier.git

[submodule "Stella-Mod-Build"]
	path = Stella.Build
	url = https://github.com/sefinek/Stella-Mod-Build.git

[submodule "Stella-Mod-Setup"]
	path = InnoSetup
	url = https://github.com/sefinek/Stella-Mod-InnoSetup.git

