[submodule "Stella-Mod-Launcher"]
	path = Stella.Launcher
	url = https://github.com/sefinek/Stella-Mod-Launcher.git
    branch = main

[submodule "Genshin-Stella-Mod"]
	path = Stella.Core
	url = https://github.com/sefinek/Genshin-Stella-Mod.git
	branch = main

[submodule "Stella-Mod-Prepare"]
    path = Stella.Prepare
    url = https://github.com/sefinek/Stella-Mod-Prepare.git
    branch = main

[submodule "Stella.Welcome"]
	path = Stella.Welcome
	url = https://github.com/sefinek/Stella.Welcome.git
	branch = main

[submodule "Stella-Mod-Utils"]
	path = Stella.Utils
	url = https://github.com/sefinek/Stella-Mod-Utils.git
	branch = main

[submodule "Stella-Mod-DeviceIdentifier"]
	path = Stella.DeviceIdentifier
	url = https://github.com/sefinek/Stella-Mod-DeviceIdentifier.git
	branch = main

[submodule "Stella-Mod-Build"]
	path = Stella.Builder
	url = https://github.com/sefinek/Stella-Mod-Build.git
	branch = main

[submodule "Stella-Mod-Setup"]
	path = InnoSetup
	url = https://github.com/sefinek/Stella-Mod-InnoSetup.git
	branch = main
