# Workspace
.vs
*.cache
*.bin
*.user
*.csproj.user
shelf
httpRequests
workspace.xml

# Build
Build
packages
data/unlocker/unlocker.config.json
data/sounds/*.mp3
Screenshots/*.png
Screenshots/*.jpg
Screenshots/*.jpeg
Screenshots/*.bmp

# InnoSetup
InnoSetup/*.exe
InnoSetup/Output

# Solutions
## Configuration Window
Stella.Configuration/bin
Stella.Configuration/obj

## Prepare Stella Mod
Stella.Prepare/bin
Stella.Prepare/obj

## Info Before Start
Stella.InfoBeforeStart/bin
Stella.InfoBeforeStart/obj

## Device Identifier
Stella.DeviceIdentifier/bin
Stella.DeviceIdentifier/obj

## Sefin Anti Cheat
Stella.SefinAntiCheat/bin
Stella.SefinAntiCheat/obj

## Stella ClassLibrary
Stella.Scripts/bin
Stella.Scripts/obj

## Stella Telemetry
Stella.StartupBeacon/bin
Stella.StartupBeacon/obj

## Genshin test file
Test.Genshin/bin
Test.Genshin/obj

## Win App Packaging Project
WinAppPackagingProject

## Build project
Stella.Build/bin
Stella.Build/obj